
.btn {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: sans-serif;
    height: 40px;
    margin-top: 25px;
    /* margin-left: 50px; */
    /* width: 100px; */
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    pointer-events: auto;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    vertical-align: top;
    white-space: nowrap;
    z-index: 9;
    border: 0;
  }
  